<h1>Test page for learning EJS templating and applying to coffee app.</h1>

	<% function user(user) { %>

		<style>
			table,th,td
			{border:0.5px solid black;}
		</style>
		</head>
		<body>
			<table style="width:300px">
				    <colgroup>
				       <col span="1" style="width: 40%;">
				       <col span="1" style="width: 30%;">
				       <col span="1" style="width: 20%;">
				       <col span="1" style="width: 10%">
				    </colgroup>
		<tr>
			<th>Name</th>
			<th>Rating</th>
			<th>Avg. Price</th>
			<th>Location</th>
		</tr>
		<tr>
		  <td> <a href="<%= user.website %>"><%= user.display_name%></a></td>
		  <td><%= user.rating.yelp_rating %></td>	
		  <td>$<%= user.avg_price %></td>
		  <td><%= user.location %></td>
		</tr>
		</table>
	<% } %>
<ul>

  <% users.map(user) %>
</ul>