<!-- Function to populate table with data from users array -->
<% function user(user) { %>
		<tr>
		<!-- Loop through locations, find by location_num -->
			<!-- Company Name -->
		  <td> <a href="<%= user.website %>"> <%= user.display_name%> </a></td>
			<!-- Location Name -->  
		  <td>Liberty Village</td> 	

		  <!-- Interesting. snippet is populating horozontally -->
<!-- FOR LOOP -->
		  <% for(var i=0; i<user.locations.length; i++)	{%>				<!-- Filler right now -->
		  	<td><%= user.locations[i].address %> </td>
		  <% } %>

		  	<!-- Address -->
		  <td>99 Atlantic Ave, Toronto</td> 			<!-- Filler right now -->
		  	<!-- Rating -->
		  <td><%= user.rating.yelp_rating %>(<%= user.rating.yelp_reviews %>)</td>
		  	<!-- Average Price -->
		  <td>$<%= user.avg_price %></td>
		</tr>
<% } %>

<html>
<head>
<style>
	table,th,td
	{border:0.5px solid black; text-align:center; vertical-align: middle; padding: 1px;}
</style>
	</head>
		<body>
			<h1>Making dynamic HTML table from DB data to port over to main site</h1>
		<table style="width:600px">
	<!-- TABLE HEADER -->
		<tr>
			<th style="width: 20%"> Company Name </th>
			<th style="width: 30%"> Location Name </th>	
			<th style="width: 30%"> Address </th>
			<th style="width: 10%"> Rating </th>
			<th style="width: 10%"> Avg. Price </th>
		</tr>
	<!-- Insert function user(user) into HTML table -->
	<% users.map(user) %>
	</table>
</body>
</html>