<!DOCTYPE html>

<!-- EJS for dynamic table on home page -->
<% function user(user) { %>
  <% for(var i=0; i<user.locations.length; i++) { if(i==0){ %>
    <tr>
        <!-- Write if/else control flow to determine whether to display green or red icon, dependant on status. -->
        <td> <image src="/img/open.png" width="15" height="15" align="center"> </td>
        <td>  <a href="http://<%= user.website %>"> <%= user.display_name%></a>,   <%= user.locations[i].location_name %> </td>
        <td> <%= user.locations[i].address %></td>
           <td>  <div class="shop-rating raw-rating">3</div> </td> <!-- Rating -->
        <!--<td> <img src="/img/Rating/coffeemed.jpg"></td>-->
        <td>% <%= user.avg_price %></td>
    </tr>
  <% } }%>
<% } %>

    <!-- EJS include header -->
    <% include /boiler/header.ejs %>

      <div class="row-fluid">
      <!-- Data Table + Tablesorter 2.0
      ================================================== -->
      <div class="span6">
        <!-- Alert bar to show progress text -->
        <div class="alert alert-success" style="width:85%; margin-left:7%; ">
          <center>More coffeeshops are constantly being added and updated. Check back soon!</center>
        </div>
        <!-- Styled Table insertion -->
        <table id="hor-minimalist-a" summary="Front Page Coffeeshops">
          <thead>
          <tr>
            <th style="width: 5%">&nbsp;Open</th>
            <th style="width: 30%">Coffeeshop</th>
            <th style="width: 30%">Location</th>
            <th style="width: 10%; padding:5px">Rating</th>
            <th style="width: 20%; padding:5px">Difference from<br>Average Price</th>
          </tr>
          <!-- Map users array to user for EJS -->
          <% users.map(user) %>
        </table>
        <!-- Thinking about adding an alert box for global price average
        <div class="alert alert-success" style="width:85%; margin-left:7%; ">
          <center>The average price for //Index Item// in Toronto is $2.32</center>
        </div> -->
      </div> 
      <!-- Google Maps implimentation
      ================================================== -->
      <div class="span6">
        <!-- Taken from web example. Supposed to make map responsive -->
        <div class="fluid-wrapper">
          <div id="map"></div>
        </div>
     </div>
    </div>

    <!-- EJS include footer -->
    <% include /boiler/footer.ejs %>
    <!-- EJS include dependancies -->
    <% include /boiler/scripts.ejs %>
  </body>
</html>